.course-container {
  margin-bottom: 50px;
}
.course h2 b {
  color: rgb(150, 150, 150);
  font-weight: lighter;
}
.course h2 {
  margin-bottom: 15px !important;
}
.course h6 {
  color: rgb(179, 179, 179);
  font-weight: lighter !important;
}
@media screen and (max-width: 670px) {
  .course h2 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .course-container {
    margin-bottom: 36px;
  }
}
