:root {
  scroll-behavior: smooth;
  -webkit-text-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  --black-font: #1e1e1e;
  --orangle-color: #fe5833ef;
  --body-color: #e8e5e2;
  --text-gradient: linear-gradient(to bottom right, #fe5833ef, #c0903d);
}

*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.cdnfonts.com/css/tt-norms");
@font-face {
  font-family: "TT Norms Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TT Norms Medium"),
    url("../fonts/ttnorms/TTNorms-Medium.woff") format("woff");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@700&display=swap");

body {
  font-family: "TT Norms Medium";
  line-height: 1.8;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}
body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
/* css for nav-main-hero */

.colorlib-table-cell .main-nav-header {
  display: flex;
  justify-content: space-between;
}

#colorlib-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#colorlib-wrapper > div {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

/* //social icons */
.icon-linkedin,
.icon-google,
.icon-github,
.icon-youtube,
.icon-dribbble {
  color: var(--black-font);
}
.icon-dribbble:hover {
  color: #ff299e;
}
.icon-google:hover {
  color: #db4437;
}
.icon-github:hover {
  color: rgb(74, 74, 74);
}
.icon-youtube:hover {
  color: #f92020;
}
.icon-linkedin:hover {
  color: #0a66c2;
}
/* social icons end */

a {
  /* color: var(--orangle-color); */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.orange-hover::after {
  content: "";
  display: block;
  height: 1.2px;
  background: var(--orangle-color);
  width: 20%;
  position: relative;
  top: -4.5px;
  width: 0;
  left: 53.5%;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
}
.orange-hover:hover::after {
  width: 20%;
}
/* a:hover {
  color: var(--orangle-color);
} */
a:focus,
a:active {
  outline: none;
}

p,
span {
  margin-bottom: 1.5em;
  font-weight: lighter;
  font-family: "TT Norms", sans-serif;
  letter-spacing: 1.2px;
  color: var(--black-font);
}

ul,
ol {
  display: block;
  margin-bottom: 1.5em;
}

span {
  font-weight: 600;
}
.text-md {
  font-size: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-font);

  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::-moz-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

#colorlib-page {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
}

header .colorlib-navbar-brand {
  float: left;
}
header .colorlib-navbar-brand {
  overflow: hidden;
}
#colorlib-about {
  padding-bottom: 8rem !important;
}
#colorlib-services,
#colorlib-work,
#colorlib-testimony,
#colorlib-about {
  padding: 10em 0;
  clear: both;
  position: relative;
}

.rotate {
  position: absolute;
  top: 0.4em;
  left: -50px;
}
.rotate .heading {
  font-family: "Karla", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -o-transform-origin: left top 0;
  transform-origin: left top 0;
  position: relative;
}
.rotate .heading:after {
  position: absolute;
  top: 8px;
  right: -40px;
  content: "";
  background: var(--black-font);
  width: 40px;
  height: 1px;
}

.about-desc {
  padding-top: 3em;
}
.about-desc h2 {
  line-height: 1.3;
}
.about-desc h2 span {
  display: block;
  margin-bottom: 0;
  color: var(--black-font);
  font-size: 70px;
  font-family: "Playfair Display", Georgia, serif;
}

.about-desc .desc {
  width: 70vw;
  padding-left: 6em;
  margin-left: 9px;
  position: relative;
}
.about-desc .rotate {
  position: absolute;
  top: 7px;
  left: 30px;
}
.about-desc .rotate .heading {
  font-family: "Karla", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  transform-origin: left top 0;
  position: relative;
}
.about-desc .rotate .heading:after {
  position: absolute;
  top: 8px;
  right: -40px;
  content: "";
  background: var(--black-font);
  width: 40px;
  height: 1px;
}

.hobbies-div {
  padding: 0 14rem;
  width: 100%;
}
.rotate {
  display: block;
}

/* header font color changes */
.font-xl {
  font-size: 170px !important;
  line-height: 15rem;
  margin-bottom: 10rem;
}
.my-header,
.my-header h2,
.my-header h2 span {
  font-weight: lighter !important;
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Karla", Arial, sans-serif; */
  /* font-family: "Playfair Display", Georgia, serif; */
  /* font-family: "TT Norms Pro", sans-serif; */
  font-family: "TT Norms Medium";
}

.my-header h2 {
  font-size: 75px !important;
  color: var(--black-font);
}

.intro-heading {
  margin-bottom: 3em;
}
.intro-heading h2 {
  font-size: 74px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: var(--black-font);
  position: relative;
  text-align: start;
}
.intro-heading span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #bfbfbf;
  font-weight: 600;
}

.work-img,
.gallery {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.services-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  margin-top: 12rem;
}
.services-flex .one-third {
  width: 55%;
  padding: 3em 2em 3em 0;
}
.services-flex .one-forth {
  width: 45%;
}
.services-flex .one-forth .one-third,
.services-flex .one-forth .one-forth {
  display: inline-block;
}

.services-flex .one-third,
.services-flex .one-forth {
  display: inline-block;
}

.work-entry {
  display: block;
  margin-bottom: 5em;
  width: 100%;
  float: left;
}
.work-entry .work-img {
  width: 100%;
  height: 700px;
  margin-bottom: 40px;
  display: table;
  text-align: center;
  text-decoration: none;
  background-size: contain;
}
.work-entry .work-img .display-t {
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  position: relative;
  z-index: 0;
}
.work-entry .work-img .display-t:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-size: contain;
}
.work-entry .work-img .display-t .work-name {
  display: inline-block;
  padding: 4em 3em;
  background: #fff;
  -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work-entry .work-img .display-t .work-name h2 {
  margin: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work-entry .work-img:hover .display-t:after {
  opacity: 1;
}
.work-entry .work-img:hover .display-t .work-name {
  padding: 4.5em 3.5em;
}
.work-entry .work-img:hover .display-t .work-name h2 {
  font-size: 34px;
}

.work-entry .desc .read {
  text-align: right;
}
.work-entry .desc .read a {
  color: var(--black-font);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  position: relative;
}
.work-entry .desc .read a:after {
  position: absolute;
  top: 7px;
  left: -60px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: var(--black-font);
}

.article {
  display: block;
  margin-bottom: 6em;
}
.article .blog-img {
  margin-bottom: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.article .blog-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.article .blog-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.article .blog-img .link {
  position: absolute;
  bottom: 0;
  left: 90%;
  display: table;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.article .blog-img .link .read {
  display: table-cell;
  vertical-align: middle;
  font-family: "Karla", Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  position: relative;
}
.article .blog-img .link .read:after {
  position: absolute;
  top: 10px;
  left: -50px;
  content: "";
  background: #fff;
  width: 40px;
  height: 1px;
}
.article .blog-img:hover .overlay {
  opacity: 1;
}
.article .blog-img:hover .link {
  opacity: 1;
  bottom: 50px;
}
.article .blog-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.article .desc {
  position: relative;
}
.article .desc .meta {
  position: absolute;
  top: -80px;
  left: 20px;
  background: #ffe9e3;
  color: #000;
  padding: 20px 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
}
.article .desc h2 {
  font-size: 24px;
}
.article .desc h2 a {
  text-decoration: none;
  color: #000;
}
.article:hover .meta {
  background: #fff;
}

#colorlib-testimony .owl-theme .owl-dots .owl-dot.active span,
#colorlib-testimony .owl-theme .owl-dots .owl-dot:hover span {
  height: 3px;
  background: #000;
}

#colorlib-testimony .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 2px;
  background: #e6e6e6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.testimony blockquote {
  border: none;
}
.testimony blockquote p {
  font-family: "Playfair Display", Georgia, serif;
  color: #000;
  font-size: 30px;
}
.testimony blockquote span {
  font-family: "Playfair Display", Georgia, serif;
  color: #000;
  font-size: 30px;
}

.f-entry {
  position: relative;
  margin-bottom: 40px;
}
.f-entry .desc h3 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.f-entry .desc h3 a {
  color: #4d4d4d;
  text-decoration: none;
}
.f-entry .desc span {
  color: var(--black-font);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px !important;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* 3d botton animation */

.scene {
  width: 100px;
  height: 50px;
  perspective: 900px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: translateZ(-50%); */
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: var(--black-font);
  width: 100px;
  font-style: "TT Norms medium";
  height: 41px;
  overflow: hidden;
}
.cube-unit {
  position: absolute;
  width: 200px;

  text-align: center;
  font-size: 14px;
  padding-top: 7px;
  text-transform: capitalize;
  cursor: pointer;
}
.cube-unit:hover {
  transform: translateX(-50%);
  color: var(--orangle-color);
}

.row-padded-bottom {
  margin-bottom: 4em;
}

.col-pb-sm {
  margin-bottom: 5em !important;
}
.col-pb-sm:last-child {
  margin-bottom: 0;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none;

  margin: 0 !important;
}
.colorlib-nav-toggle.active i::before,
.colorlib-nav-toggle.active i::after {
  background: #000;
}
.colorlib-nav-toggle.dark.active i::before,
.colorlib-nav-toggle.dark.active i::after {
  background: #000;
}
.colorlib-nav-toggle:hover,
.colorlib-nav-toggle:focus,
.colorlib-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.colorlib-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 20px;
  height: 2px;
  color: #000;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.menu-show .colorlib-nav-toggle i {
  background: #000;
  color: #fff;
}
.colorlib-nav-toggle i::before,
.colorlib-nav-toggle i::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .colorlib-nav-toggle i::before,
.menu-show .colorlib-nav-toggle i::after {
  background: #333333;
}
.colorlib-nav-toggle.dark i {
  position: relative;
  color: #fff;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.colorlib-nav-toggle.dark i::before,
.colorlib-nav-toggle.dark i::after {
  background: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.colorlib-nav-toggle i::before {
  top: -7px;
}

.colorlib-nav-toggle i::after {
  bottom: -7px;
}

.colorlib-nav-toggle:hover i::before {
  top: -10px;
}

.colorlib-nav-toggle:hover i::after {
  bottom: -10px;
}

.colorlib-nav-toggle.active i {
  background: transparent;
}

.colorlib-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.colorlib-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.colorlib-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;

  margin: 0 auto;
  cursor: pointer;
  margin-top: 0;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 30px 0;
  position: relative;
  padding-left: 60px;
}
.contact-info li span {
  position: absolute;
  top: -0.3em;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  display: table;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.contact-info li i {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: transparent;
  font-size: 16px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:focus,
.form-control:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: transparent;
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}
.colorlib-social-icons {
  margin-top: 10px;
}
.colorlib-social-icons a:hover,
.colorlib-social-icons a:focus {
  text-decoration: none !important;
}
.colorlib-social-icons a i {
  margin-right: 3px;
}
.colorlib-social-icons i {
  font-size: 27px;
  -webkit-trasition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.js .animate-box {
  opacity: 0;
}

.nav-hero-main {
  border-bottom: 1.5px solid #cec0c0;
  padding-right: 20px;
  float: right;
}

.nav-hero-main ul {
  list-style-type: none;
  color: var(--black-font);
  padding: 0;
}
.nav-hero-main ul li {
  font-size: 13px;
}

.nav-hero-main ul li a {
  color: var(--black-font) !important;
  font-family: "TT Norms medium";
  font-weight: lighter;
  text-decoration: none;
}
.nav-hero-main ul li a:hover {
  color: var(--orangle-color) !important;
}

.nav-hero-main ul li a:focus {
  color: var(--orangle-color) !important;
}
.nav-hero-main ul li a:active {
  color: var(--orangle-color) !important;
}

.main-intro {
  font-size: 35px;
  line-height: 5rem;
  margin-bottom: 4rem;
}
.web-logo {
  height: 92px;
  width: 112px;
}

/* .nav-align {
  margin: 0;
} */

/* header information section css */
.info-section,
.info-section2 {
  font-size: 17px;
  padding-top: 80px;
}
.info-section {
  border-top: 1.5px solid #cec0c0;
}
.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.info-section > div > p,
.info-section2 > p,
.info-section2 > span {
  line-height: 19px;
}

.fontxl > div {
  color: var(--orangle-color) !important;
}
.icon-arrow-right {
  padding: 0px 4px 0px 4px;
  margin-top: 16px;
}

/* footer css  */
#footer {
  background: var(--black-font);
  padding-top: 3em;

  width: 100%;
}

.footer-main {
  display: flex;
  flex-direction: column;
}
.style-social {
  display: flex;
  justify-content: space-between;

  padding-bottom: 3rem;
}
.style-social a {
  text-decoration: none;
  width: 20%;
  padding: 15px 0;
  border-top: 1.5px solid #cec0c0;
  position: relative;
}
.social-data {
  color: var(--body-color) !important;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.social-data div i {
  color: var(--black-font);
  text-decoration: none;
}
.social-data div i:hover {
  text-decoration: none;
}
.social-data div {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-data b {
  font-size: 18px;
}

.style-social a::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--orangle-color);
  transition: all ease-in-out 150ms;
}
.style-social a:hover::before {
  height: 100%;
}
.style-social a:hover {
  padding: 15px 17px;
}
.credit p {
  color: var(--body-color);
  font-size: 13px;
}
.credit {
  display: flex;
  justify-content: space-between;
}
.lets-talk p a {
  color: var(--body-color);
  text-decoration: none;
}
.lets-talk span {
  border-bottom: 1.1px solid var(--orangle-color);
}

.services-title {
  /* font-family: "TT Norms Medium" !important; */
  width: 53vh;
  font-size: 35px;
}
.materials-symbol-outlined {
  font-size: 50px !important;
}

/* services data and images css */
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.service-container::before {
  content: none;
}
.sr {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-height: 62rem;
}

.sr img {
  width: 100%;
  height: 100%;
}
.sr:hover .overlay-block {
  height: 100%;
}
.sr:hover img {
  transform: scale(1.1);
}
.sr:hover .service-name {
  color: var(--body-color);
  animation: servicetext linear 0.4s;
  -webkit-animation: servicetext linear 0.4s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sr:hover .overlay-text {
  /* animation: servicetext linear 0.6s;
  animation-delay: 0.9s;

  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); */
  opacity: 1;
  /* top: 27%; */
  left: 17%;
}

.overlay-block,
.overlay-text,
.service-name {
  position: absolute;
}
.overlay-block {
  height: 0;
  width: 100%;
  background: #0b0b0bb6;
  z-index: 4;
  top: 0;
}
.overlay-text {
  opacity: 0;

  top: 40%;
  left: -5%;
  font-size: 13px;
  z-index: 5;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
}
.overlay-text::before {
  content: "";
  position: absolute;
  top: 47%;
  left: -55%;
  width: 34px;
  height: 2px;
  background-color: rgb(182, 182, 182);
}
.service-name {
  top: 10%;
  left: 5%;
  font-size: 38px;
  z-index: 5;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "TT Norms Medium";
  color: rgb(240, 240, 240);
  margin: 0 30px;
}
@keyframes servicetext {
  from {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
/* serviced data css ends here */

/* custom scrollbar css */
.scrollbar::-webkit-scrollbar {
  width: 11.5px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fcfcfb;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d5d2d2eb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fe5833d6;
}

.y-videos {
  display: flex;

  justify-content: space-between;
}
/* .y-videos div {
  padding: 15px 0;
} */
.y-text p {
  text-align: end;
  padding: 15px 0;
  font-size: 23px;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
}
.y-text p a {
  text-decoration: none;
  color: var(--black-font) !important;
}
.y-text p::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1.2px;
  background: var(--orangle-color);
  top: 80%;
  right: 0;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 400ms;
}
.y-text p:hover::after {
  width: 130px;
}
.y-text {
  display: flex;
  /* align-items: flex-end; */
  justify-content: end;
  margin-top: 25px;
}

.youtube-video iframe {
  width: 560px;
  height: 315px;
}

/* about section css */
.hobbies-div {
  padding: 0;
  font-size: 28px;
  margin-bottom: 5rem;
}

/* services page css */
.services-quick {
  font-size: 20px;
}

/* technologies /services css */
.technologies-container,
.tools-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.technologies-container img,
.tools-container img {
  margin: auto;
  height: 100px;
  width: 100px;
  margin: 15px;
}

/* CSS for functions on load animations */
.on-func {
  display: block;
  position: absolute;
  height: 100vh;
  /* width: 100vw; */
  animation: overlay ease-in-out 1.67s;
  animation-delay: 100ms;
  background: #fe5833;
}

/* anmation class for navbaf */
.NavAnimation {
  -webkit-animation: movenav 1s ease-in-out;
  animation: movenav 1s ease-in-out;
}
.LogoAnimation {
  -webkit-animation: movelogo 1s ease-in-out;
  animation: movelogo 1s ease-in-out;
}
/* animations */
@keyframes overlay {
  0% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes movenav {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes movenav {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes movelogo {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes movelogo {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
